[Unit]
Description=
ConditionACPower=true

[Service]
Type=oneshot
ExecStart=/usr/local/bin/watchgate.cron
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
